<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>QA Dash 2</title>
  </head>
  <body class="container">
<!-- Begin Navbar -->
    <nav class="navbar navbar-custom navbar-expand-md fixed-top bg-dark">
     <a class="navbar-brand" href="#">PrinterLogic</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   </nav>
<!-- End Navbar -->
<h1>QA Dashboard V2</h1>
<br>


<!-- Begin Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="20000">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">

      <!-- Begin legend -->


    <h4>Legend</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:25%; background-color: #95d96d !important;"><strong>PASSED</strong>
      </div>
      <div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%; background-color: #8080ff !important;">
       <strong>BLOCKED</strong>
      </div>
      <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%; background-color: #F1888f !important;">
        <strong>FAILED</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:25%; background-color: #707070 !important;">
        <strong>UNTESTED</strong>
      </div>
    </div>

  <br>
<!-- End legend -->

<!-- Begin PrinterCloud 18.2 Smoke -->
  <div class="border border-dark">
    <h2>&ensp;PrinterCloud 18.2.2.40+ Regression progress<span style="color: red;"> (stage-elect)</span></h2><h4><span style="color: red;"> &ensp;instancename.pl-stage-elect.com/admin</span></h4>
    <h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
    <br />
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:22%; background-color: #95d96d !important;">
          <strong>22%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:1%; background-color: #8080ff !important;">
        <strong>1%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:2%; background-color: #f1888f !important;">
      <strong>2%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:75%; background-color: #707070 !important;">
        <strong>75%</strong>
      </div>
    </div>
    <br>
  </div>
  <br>
<!-- End PrinterCloud 18.2 Smoke -->

<!-- Begin PI 3 -->
<div class="border border-dark">
<h2>&ensp;18.2.1.28+ (PI 3) Regression progress</h2>
<!-- <h3>&ensp;Testing = 17</h3> -->
<h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
<br />
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:83%; background-color: #95d96d !important;"><strong>83%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:6%; background-color: #8080ff !important;">
       <strong>6%</strong>
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:7%; background-color: #f1888f !important;"><strong>7%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:4%; background-color: #707070 !important;">
      <strong>4%</strong>
    </div>
  </div>
  <br>
</div>
<br>
<!-- End PI 3 -->

<!-- Begin Mx#4 Regression -->
<div class="border border-dark">
<h2>&ensp;17.1.1.252 RELEASED</h2><h4><span style="color: red;">&ensp;(Test Closure in Process)</span></h4>

<h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
<br />
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:89%; background-color: #95d96d !important;">
        <strong>89%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:3%; background-color: #8080ff !important;">
        <strong>3%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:7%; background-color: #f18884 !important;">
        <strong>7%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:1%; background-color: #707070 !important;">
      <strong>1%</strong>
    </div>
  </div>
  <br>
</div>
<br>
<!-- End Mx#4 Regression -->
</div>

    <div class="carousel-item">
      <div>
        <!-- <h2>COMING SOON!</h2>
        <h2>List of JIRA tickets in "TESTING"</h2> -->
      </div>
      <!-- Begin table PI3-->
      <div class="container">
        <h2>PI3 18.2 tickets in TESTING</h2>
        <p></p>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Priority</th>
            <th>Type</th>
            <th>Key</th>
            <th>Summary</th>
            <th>Assignee</th>
            <th>Status</th>
          </tr>
        </thead>
      <tbody>
          <tr>
            <td>BLOCKING</td>
            <td>Customer Bug</td>
            <td>PI-8693</td>
            <td>Google Cloud Printer Showing Off Line</td>
            <td>Raj</td>
            <td>TESTING</td>
          </tr>
          <tr>
            <td>BLOCKING</td>
            <td>Bug</td>
            <td>PI-10244</td>
            <td>(CPA: Lexmark 208) Input fields don't respond when tapped</td>
            <td>Marvin</td>
            <td>TESTING</td>
          </tr>
          <tr>
            <td>HIGH</td>
            <td>Bug</td>
            <td>PI-7427</td>
            <td>XEROX - Versalink Logout issues</td>
            <td>Nick</td>
            <td>TESTING</td>
          </tr>
          <tr>
            <td>HIGH</td>
            <td>Customer Bug</td>
            <td>PI-9872</td>
            <td>Toshiba "Bypass Tray is Empty" error always shows</td>
            <td>Mitchell</td>
            <td>TESTING</td>
          </tr>
        </tbody>
      </table>

      <h2>PrinterCloud 18.2 tickets in TESTING</h2>
      <p></p>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Priority</th>
          <th>Type</th>
          <th>Key</th>
          <th>Summary</th>
          <th>Assignee</th>
          <th>Status</th>
        </tr>
      </thead>
    <tbody>
        <tr>
          <td>BLOCKING</td>
          <td>Bug</td>
          <td>PI-9863</td>
          <td>CPA Xerox Versalink .225 Can not manually log in</td>
          <td>Nick</td>
          <td>TESTING</td>
        </tr>
        <tr>
          <td>BLOCKING</td>
          <td>Bug</td>
          <td>PI-9867</td>
          <td>(PC CPA:HP-204) OXPd error when opening CPA</td>
          <td>Brian</td>
          <td>TESTING</td>
        </tr>
        <tr>
          <td>BLOCKING</td>
          <td>Bug</td>
          <td>PI-9953</td>
          <td>(PrinterCloud) HP CPAi: SSL Certificate of SSH md5 fingerprint...</td>
          <td>Steve</td>
          <td>TESTING</td>
        </tr>
        <tr>
          <td>CRITICAL</td>
          <td>Bug</td>
          <td>PI-9878</td>
          <td>MAC as servicehost: email Service: SSL certificate verify failed</td>
          <td>Raj</td>
          <td>TESTING</td>
        </tr>
        <tr>
          <td>CRITICAL</td>
          <td>Bug</td>
          <td>PI-10024</td>
          <td>Run new instance migrations from worker server</td>
          <td>Raj</td>
          <td>TESTING</td>
        </tr>
        <tr>
          <td>HIGH</td>
          <td>Customer Bug</td>
          <td>PI-9119</td>
          <td>Kyocera Printer OS X</td>
          <td>Justin</td>
          <td>TESTING</td>
        </tr>
      </tbody>
    </table>
    </div>

    </div>

    <div class="carousel-item">
      <div>
        <h1>Joke of the Day!</h1>
        <p><h2>A QA Engineer walks into Sakura, and orders sushi:</h2></p>
        <h3><ul>
          <li>Then he orders 0 sushi.</li>
          <li>Then he orders 999999999999 sushi.</li>
          <li>Then he orders an aardvark.</li>
          <li>Then he orders nothing.</li>
          <li>Then he orders -1 sushi.</li>
          <li>Then he orders NULL sushi.</li>
          <li>Then he orders asnwikfjsdf.</li>
          <li>Then he orders a "><script>give_me_your_credit_card()</script>.</li>
          <li>Finally, the QA engineer leaves without paying, comes back, and asks for the tab.</li>
        </ul></h3>

      </div>
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
<!-- End Carousel -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
