<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>QA Dash 2</title>
  </head>
  <body class="container">
<!-- Begin Navbar -->
    <nav class="navbar navbar-custom navbar-expand-md fixed-top bg-dark">
     <a class="navbar-brand" href="#">PrinterLogic</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   </nav>
<!-- End Navbar -->
<h1>QA Dashboard V2</h1>


<!-- Begin Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">

      <!-- Begin legend -->
  <div class='container'>

    <h4>Legend</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:25%; background-color: #95d96d !important;"><strong>PASSED</strong>
      </div>
      <div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%; background-color: #8080ff !important;">
       <strong>BLOCKED</strong>
      </div>
      <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%; background-color: #F1888f !important;">
        <strong>FAILED</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:25%; background-color: #707070 !important;">
        <strong>UNTESTED</strong>
      </div>
    </div>
  </div>
  <br>
<!-- End legend -->

<!-- Begin PrinterCloud 18.2 Smoke -->
  <div class="border border-dark">
    <h2>&ensp;PrinterCloud 18.2.2.40+ Regression progress<span style="color: red;"> (stage-elect)</span></h2><h4><span style="color: red;"> &ensp;instancename.pl-stage-elect.com/admin</span></h4>
    <h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
    <br />
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:22%; background-color: #95d96d !important;">
          <strong>22%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:1%; background-color: #8080ff !important;">
        <strong>1%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:2%; background-color: #f1888f !important;">
      <strong>2%</strong>
      </div>
      <div class="progress-bar" role="progressbar" style="width:75%; background-color: #707070 !important;">
        <strong>75%</strong>
      </div>
    </div>
    <br>
  </div>
  <br>
<!-- End PrinterCloud 18.2 Smoke -->

<!-- Begin PI 3 -->
<div class="border border-dark">
<h2>&ensp;18.2.1.28+ (PI 3) Regression progress</h2>
<!-- <h3>&ensp;Testing = 17</h3> -->
<h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
<br />
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:83%; background-color: #95d96d !important;"><strong>83%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:6%; background-color: #8080ff !important;">
       <strong>6%</strong>
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:7%; background-color: #f1888f !important;"><strong>7%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:4%; background-color: #707070 !important;">
      <strong>4%</strong>
    </div>
  </div>
  <br>
</div>
<br>
<!-- End PI 3 -->

<!-- Begin Mx#4 Regression -->
<div class="border border-dark">
<h2>&ensp;17.1.1.252 RELEASED</h2><h4><span style="color: red;">&ensp;(Test Closure in Process)</span></h4>

<h4>&ensp;Updated <span><%= Time.now.asctime %></span></h4>
<br />
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:89%; background-color: #95d96d !important;">
        <strong>89%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:3%; background-color: #8080ff !important;">
        <strong>3%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:7%; background-color: #f18884 !important;">
        <strong>7%</strong>
    </div>
    <div class="progress-bar" role="progressbar" style="width:1%; background-color: #707070 !important;">
      <strong>1%</strong>
    </div>
  </div>
  <br>
</div>
<br>
<!-- End Mx#4 Regression -->
</div>

    <div class="carousel-item">
      <div>
        <h2>COMING SOON!</h2>
        <h2>List of JIRA tickets in "TESTING"</h2>
      </div>
    </div>

    <!-- <div class="carousel-item">
      <div>
        <h2>COMING SOON!</h2>
        <h2>Begin to End Time to Test</h2>
      </div>
    </div> -->
  </div>
  <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
<br>
<!-- End Carousel -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
