<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>QA Dash 2</title>
  </head>

  <body class="container">
    <!-- Begin Navbar -->
    <nav class="navbar navbar-custom navbar-expand-md fixed-top bg-dark">
      <a class="navbar-brand" href="#">PrinterLogic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <!-- End Navbar -->

    <h1>QA Dashboard V2</h1>
    <h4>Updated
      <span><%= Time.now.strftime ("%a, %b %d @ %l:%M:%S %p") %></span></h4>
    <br>

    <!-- Begin Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="17000">
      <div class="carousel-inner">
        <!-- Begin legend -->
        <div class="carousel-item active">
          <h4>Legend</h4>
          <div class="progress" style="height:40px;">
            <div class="progress-bar-1" role="progressbar" style="width:20%;height:40px"><h6><strong style="line-height:40px;">PASSED</strong></h6>
            </div>
            <div class="progress-bar-2" role="progressbar" style="width:20%;"><h6><strong style="line-height:40px;">BLOCKED</strong></h6>
            </div>
            <div class="progress-bar-3" role="progressbar" style="width:20%;"><h6><strong style="line-height:40px;">FAILED</strong></h6>
            </div>
            <div class="progress-bar-4" role="progressbar" style="width:20%;"><h6><strong style="line-height:40px;">RETEST</strong></h6>
            </div>
            <div class="progress-bar-5" role="progressbar" style="width:20%;"><h6><strong style="line-height:40px;">UNTESTED</strong></h6>
            </div>
          </div><br>
          <!-- End legend -->

          <!-- PRINTERCLOUD RERUN BEGIN -->
          <div class="border border-dark rounded">
            <h2>&ensp;PrinterCloud<span class="branch"> 18.3.2.1+</span> RERUN<span class="branch">
                (Stage-Elect)</span> (68 / 261 untested)</h2>
            <br>
            <div class="progress" style="height:40px;">
              <div class="progress-bar-1" role="progressbar" style="width:66%;height:40px;"><h6><strong style="height:40px;line-height:40px;">66%</strong></h6>
              </div>
              <div class="progress-bar-2" role="progressbar" style="width:2%;height:40px;"><h6><strong style="height:40px;line-height:40px;">2%</strong></h6>
              </div>
              <div class="progress-bar-3" role="progressbar" style="width:5%;height:40px;"><h6><strong style="height:40px;line-height:40px;">5%</strong></h6>
              </div>
              <div class="progress-bar-5 progress-bar-striped progress-bar-animated" role="progressbar" style="width:26%;height:40px;"><h6><strong style="height:40px;line-height:40px;">26%</strong></h6>
              </div>
            </div><br>
          </div><br>
            <!-- PRINTERCLOUD RERUN END -->

            <!-- Begin EDGE Phase 1 -->
            <div class="border border-dark rounded">
              <h2>&ensp;EDGE Phase 1<span class="branch">
                  [On Prem | Cloud]</span> (5 / 44 untested)</h2>
                <br>
                <div class="progress" style="height:40px;">
                  <div class="progress-bar-1" role="progressbar" style="width:86%;height:40px;"><h6><strong style="line-height:40px;">86%</strong></h6>
                  </div>
                  <!-- <div class="progress-bar-2" role="progressbar" style="width:2%;"><strong>2%</strong>
                  </div> -->
                  <div class="progress-bar-3" role="progressbar" style="width:2%;height:40px;"><h6><strong style="line-height:40px;">2%</strong></h6>
                  </div>
                  <div class="progress-bar-5 progress-bar-striped progress-bar-animated" role="progressbar" style="width:12%;height:40px;"><h6><strong style="line-height:40px;">12%</strong></h6>
                  </div>
                </div><br>
            <!-- End EDGE Phase 1 -->
            </div>
          </div>


            <!-- Begin legend -->
            <div class="carousel-item">
              <h4>Legend</h4>
              <div class="progress" style="height:40px;">
                <div class="progress-bar-1" role="progressbar" style="width:20%;height:40px"><h6><strong style="line-height:40px;">PASSED</strong></h6>
                </div>
                <div class="progress-bar-2" role="progressbar" style="width:20%;"><h6><strong style="line-height:40px;">BLOCKED</strong></h6>
                </div>
                <div class="progress-bar-3" role="progressbar" style="width:20%;"><h6><strong style="line-height:40px;">FAILED</strong></h6>
                </div>
                <div class="progress-bar-4" role="progressbar" style="width:20%;"><h6><strong style="line-height:40px;">RETEST</strong></h6>
                </div>
                <div class="progress-bar-5" role="progressbar" style="width:20%;"><h6><strong style="line-height:40px;">UNTESTED</strong></h6>
                </div>
              </div><br>
              <!-- End legend -->

              <!-- On Prem Smoke/Sanity BEGIN -->
              <div class="border border-dark rounded">
                <h2>&ensp;On Prem 18.2.1.89<span class="branch"> RELEASED</span></h2>
                <br>
                <div class="progress" style="height:40px;">
                  <div class="progress-bar-1 bg-success" role="progressbar" style="width:100%;height:40px;"><h6><strong style="height:40px;line-height:40px;color:white;">RELEASED</strong></h6>
                  </div>
                  <!-- <div class="progress-bar-2" role="progressbar" style="width:2%;height:40px;"><h6><strong style="height:40px;line-height:40px;">2%</strong></h6>
                  </div> -->
                  <!-- <div class="progress-bar-3" role="progressbar" style="width:8%;height:40px;"><h6><strong style="height:40px;line-height:40px;">8%</strong></h6>
                  </div>
                  <div class="progress-bar-4" role="progressbar" style="width:2%;height:40px;"><h6><strong style="height:40px;line-height:40px;">2%</strong></h6>
                  </div>
                  <div class="progress-bar-5 progress-bar-striped progress-bar-animated" role="progressbar" style="width:1%;height:40px;"><h6><strong style="height:40px;line-height:40px;">1%</strong></h6>
                  </div> -->
                </div><br>
              </div><br>
            <!-- On Prem Smoke/Sanity END -->

            <!-- Begin PI 3 -->
            <!-- <div class="border border-dark rounded">
              <h2>&ensp;On Prem 18.2.1.28+ Regression (14 / 529 untested)</h2>
              <br>
              <div class="progress" style="height:40px;">
                <div class="progress-bar-1" role="progressbar" style="width:91%;height:40px;"><h6><strong style="height:40px;line-height:40px;">91%</strong></h6>
                </div>
                <div class="progress-bar-2" role="progressbar" style="width:2%;height:40px;"><h6><strong style="height:40px;line-height:40px;">2%</strong></h6>
                </div>
                <div class="progress-bar-3" role="progressbar" style="width:6%;height:40px;"><h6><strong style="height:40px;line-height:40px;">6%</strong></h6>
                </div>
                <div class="progress-bar-5" role="progressbar" style="width:3%;height:40px;"><h6><strong style="height:40px;line-height:40px;">3%</strong></h6>
                </div>
              </div><br>
            </div> -->
          </div>
            <!-- End PI 3 -->

        <!-- Begin JIRA Ticket table Blocking, Critical or High-->
        <div class="carousel-item">
        <h2>Printercloud 18.3 JIRA<span style="color:red"> Blocking | Critical | High</span></h2><br>
          <%= link_to image_tag("jira_top.png", class: "mx-auto d-block") %>
        </div>
        <!-- End JIRA Ticket table     -->

        <!-- Begin JIRA Ticket table Medium or Low -->
        <div class="carousel-item">
        <h2>Printercloud 18.3 JIRA<span style="color:green"> Medium | Low</span></h2><br>
          <%= link_to image_tag("jira_bottom.png", class: "mx-auto d-block") %>
        </div>
        <!-- End JIRA Ticket table     -->

        <!-- BEGIN JOKE OF THE DAY -->
          <div class="carousel-item">
          <h1 class="text-center">Funny of the Day!</h1><br>
            <%= link_to image_tag("jod.jpg", class: "mx-auto d-block") %>
          </div>
        <!-- END JOKE OF THE DAY -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
      </html>
