<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>QA Dash 2</title>
  </head>

  <body class="container">
    <!-- Begin Navbar -->
    <nav class="navbar navbar-custom navbar-expand-md fixed-top bg-dark">
      <a class="navbar-brand" href="#">PrinterLogic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <!-- End Navbar -->

    <h1>QA Dashboard V2</h1>
    <h4>Updated
      <span><%= Time.now.strftime ("%a, %b %d @ %l:%M:%S %p") %></span></h4>
    <br>

    <!-- Begin Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="17000">
      <div class="carousel-inner">
        <!-- <div class="carousel-item">
          <h2>PI3 18.2 tickets in TESTING</h2>
          <p></p>
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Priority</th>
                <th>Type</th>
                <th>Key</th>
                <th>Summary</th>
                <th>Assignee</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>HIGH</td>
                <td>Customer Bug</td>
                <td>PI-9872</td>
                <td>Toshiba "Bypass Tray is Empty" error always shows</td>
                <td>Mitchell</td>
                <td>TESTING</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="carousel-item">
          <h2>PrinterCloud 18.2 tickets in TESTING</h2>
          <p></p>
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Priority</th>
                <th>Type</th>
                <th>Key</th>
                <th>Summary</th>
                <th>Assignee</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>BLOCKING</td>
                <td>Bug</td>
                <td>PI-9863</td>
                <td>CPA Xerox Versalink .225 Can not manually log in</td>
                <td>Nick</td>
                <td>TESTING</td>
              </tr>
              <tr>
                <td>BLOCKING</td>
                <td>Bug</td>
                <td>PI-9867</td>
                <td>(PC CPA:HP-204) OXPd error when opening CPA</td>
                <td>Brian</td>
                <td>TESTING</td>
              </tr>
              <tr>
                <td>BLOCKING</td>
                <td>Bug</td>
                <td>PI-9953</td>
                <td>(PrinterCloud) HP CPAi: SSL Certificate of SSH md5 fingerprint...</td>
                <td>Steve</td>
                <td>TESTING</td>
              </tr>
              <tr>
                <td>CRITICAL</td>
                <td>Bug</td>
                <td>PI-9878</td>
                <td>MAC as servicehost: email Service: SSL certificate verify failed</td>
                <td>Raj</td>
                <td>TESTING</td>
              </tr>
              <tr>
                <td>CRITICAL</td>
                <td>Bug</td>
                <td>PI-10024</td>
                <td>Run new instance migrations from worker server</td>
                <td>Raj</td>
                <td>TESTING</td>
              </tr>
              <tr>
                <td>HIGH</td>
                <td>Customer Bug</td>
                <td>PI-9119</td>
                <td>Kyocera Printer OS X</td>
                <td>Justin</td>
                <td>TESTING</td>
              </tr>
            </tbody>
          </table>

        </div> -->

    <!-- BEGIN JOKE OF THE DAY -->
        <div class="carousel-item">
          <h1>Joke of the Day!</h1><br>
          <%= link_to image_tag("jod.png", class: "mx-auto d-block") %>
          <br>
          <h1 class="text-center" style="color:red;">HAPPY FRIDAY!</h1>
        </div>
    <!-- END JOKE OF THE DAY -->

        <div class="carousel-item active">
          <!-- Begin legend -->
          <h4>Legend</h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:25%; background-color: #95d96d !important;">
              <strong>PASSED</strong>
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%; background-color: #8080ff !important;">
              <strong>BLOCKED</strong>
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%; background-color: #F1888f !important;">
              <strong>FAILED</strong>
            </div>
            <div class="progress-bar" role="progressbar" style="width:25%; background-color: #707070 !important;">
              <strong>UNTESTED</strong>
            </div>
          </div><br>
          <!-- End legend -->

          <!-- PRINTERCLOUD RERUN BEGIN -->
          <div class="border border-dark">
            <h2>&ensp;PrinterCloud 18.3.2.1+ RERUN<span style="color: red;">
                (Stage-Elect)</span> (277 / 315 untested)</h2>
            <br>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:11%; background-color: #95d96d !important;"> <strong>11%</strong>
              </div>

              <!-- <div class="progress-bar" role="progressbar" style="width:2%; background-color: #8080ff !important;">
              <strong>2%</strong>
              </div>  -->

              <div class="progress-bar" role="progressbar" style="width:1%; background-color: #f1888f !important;"> <strong>1%</strong>
              </div>

              <div class="progress-bar" role="progressbar" style="width:88%; background-color: #707070 !important;"><strong>88%</strong>
              </div>

            </div><br>

            <!-- PRINTERCLOUD RERUN END -->

            <!-- Begin PrinterCloud 18.2 Regression -->
            <div class="border border-dark">
              <h2>&ensp;PrinterCloud 18.2.2.40+ Regression<span style="color: red;">
                  (Stage-Elect)</span> (122 / 291 untested)</h2>
                <br>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width:50%; background-color: #95d96d !important;">
                    <strong>50%</strong>
                  </div>
                  <div class="progress-bar" role="progressbar" style="width:2%; background-color: #8080ff !important;">
                    <strong>2%</strong>
                  </div>
                  <div class="progress-bar" role="progressbar" style="width:6%; background-color: #f1888f !important;">
                    <strong>6%</strong>
                  </div>
                  <div class="progress-bar" role="progressbar" style="width:42%; background-color: #707070 !important;">
                    <strong>42%</strong>
                  </div>
                </div><br>
            <!-- End PrinterCloud 18.2 Regression -->
            </div>
          </div>
        </div>

            <div class="carousel-item">
              <!-- Begin legend -->
              <h4>Legend</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:25%; background-color: #95d96d !important;">
                  <strong>PASSED</strong>
                </div>
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%; background-color: #8080ff !important;">
                  <strong>BLOCKED</strong>
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%; background-color: #F1888f !important;">
                  <strong>FAILED</strong>
                </div>
                <div class="progress-bar" role="progressbar" style="width:25%; background-color: #707070 !important;">
                  <strong>UNTESTED</strong>
                </div>
              </div><br>
              <!-- End legend -->
            <!-- Begin PI3 18.2.x.x Sanitiy -->
            <div class="border border-dark">
              <h2>&ensp;PI3 18.2.x.x Sanity progress<span style="color: red;"></span> (84 / 84 untested)</h2>
                <br>
                <div class="progress">
                  <!-- <div class="progress-bar" role="progressbar" style="width:41%; background-color: #95d96d !important;">
                    <strong>41%</strong>
                  </div>
                  <div class="progress-bar" role="progressbar" style="width:2%; background-color: #8080ff !important;">
                    <strong>2%</strong>
                  </div>
                  <div class="progress-bar" role="progressbar" style="width:5%; background-color: #f1888f !important;">
                    <strong>5%</strong>
                  </div> -->
                  <div class="progress-bar" role="progressbar" style="width:100%; background-color: #707070 !important;">
                    <strong>100%</strong>
                  </div>
                </div><br>
            <!-- End PI3 18.2.x.x Sanitiy -->

            <!-- Begin PI 3 -->
            <div class="border border-dark">
              <h2>&ensp;PI3 18.2.1.28+ Regression (14 / 529 untested)</h2>
              <br>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:91%; background-color: #95d96d !important;">
                  <strong>91%</strong>
                </div>
                <!-- <div class="progress-bar" role="progressbar" style="width:2%; background-color: #8080ff !important;">
                  <strong>2%</strong>
                </div> -->
                <div class="progress-bar" role="progressbar" style="width:6%; background-color: #f1888f !important;">
                  <strong>6%</strong>
                </div>
                <div class="progress-bar" role="progressbar" style="width:3%; background-color: #707070 !important;">
                  <strong>3%</strong>
                </div>
              </div><br>
                <!-- End PI 3 -->






                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
              </body>
            </html>
