<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>QA Dash 2</title>
  </head>

  <body class="container">
    <!-- Begin Navbar -->
    <nav class="navbar navbar-custom navbar-expand-md fixed-top bg-dark">
      <a class="navbar-brand" href="#">PrinterLogic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <!-- End Navbar -->

    <h1>QA Dashboard V2</h1>
    <h4>Updated
      <span><%= Time.now.strftime ("%a, %b %d @ %l:%M:%S %p") %></span></h4>
    <br>

    <!-- Begin Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="17000">
      <div class="carousel-inner">
        <!-- Begin legend -->
        <div class="carousel-item active">
          <h4>Legend</h4>
          <div class="progress">
            <div class="progress-bar-1" role="progressbar" style="width:20%;"><strong>PASSED</strong>
            </div>
            <div class="progress-bar-2 progress-bar-warning" role="progressbar" style="width:20%;"><strong>BLOCKED</strong>
            </div>
            <div class="progress-bar-3 progress-bar-danger" role="progressbar" style="width:20%;"><strong>FAILED</strong>
            </div>
            <div class="progress-bar-4" role="progressbar" style="width:20%;"><strong>RETEST</strong>
            </div>
            <div class="progress-bar-5" role="progressbar" style="width:20%;"><strong>UNTESTED</strong>
            </div>
          </div><br>
          <!-- End legend -->

          <!-- PRINTERCLOUD RERUN BEGIN -->
          <div class="border border-dark rounded">
            <h2>&ensp;PrinterCloud<span class="branch"> 18.3.2.1+</span> RERUN<span class="branch">
                (Stage-Elect)</span> (172 / 311 untested)</h2>
            <br>
            <div class="progress">
              <div class="progress-bar-1" role="progressbar" style="width:35%;"><strong>35%</strong>
              </div>
              <div class="progress-bar-2" role="progressbar" style="width:4%;"><strong>4%</strong>
              </div>
              <div class="progress-bar-3" role="progressbar" style="width:6%;"><strong>6%</strong>
              </div>
              <div class="progress-bar-5" role="progressbar" style="width:55%;"><strong>55%</strong>
              </div>
            </div><br>
          </div><br>
            <!-- PRINTERCLOUD RERUN END -->

            <!-- Begin EDGE Phase 1 -->
            <div class="border border-dark rounded">
              <h2>&ensp;EDGE Phase 1<span class="branch">
                  [On Prem | Cloud]</span> (5 / 44 untested)</h2>
                <br>
                <div class="progress">
                  <div class="progress-bar-1" role="progressbar" style="width:86%;"><strong>86%</strong>
                  </div>
                  <!-- <div class="progress-bar-2" role="progressbar" style="width:2%;"><strong>2%</strong>
                  </div> -->
                  <div class="progress-bar-3" role="progressbar" style="width:2%;"><strong>2%</strong>
                  </div>
                  <div class="progress-bar-5 progress-bar-striped progress-bar-animated" role="progressbar" style="width:11%;"><strong>11%</strong>
                  </div>
                </div><br>
            <!-- End EDGE Phase 1 -->
            </div>
          </div>


            <!-- Begin legend -->
            <div class="carousel-item">
              <h4>Legend</h4>
              <div class="progress">
                <div class="progress-bar-1" role="progressbar" style="width:20%;"><strong>PASSED</strong>
                </div>
                <div class="progress-bar-2" role="progressbar" style="width:20%;"><strong>BLOCKED</strong>
                </div>
                <div class="progress-bar-3" role="progressbar" style="width:20%;"><strong>FAILED</strong>
                </div>
                <div class="progress-bar-4" role="progressbar" style="width:20%;"><strong>RETEST</strong>
                </div>
                <div class="progress-bar-5" role="progressbar" style="width:20%;"><strong>UNTESTED</strong>
                </div>
              </div><br>
              <!-- End legend -->

              <!-- On Prem Smoke/Sanity BEGIN -->
              <div class="border border-dark rounded">
                <h2>&ensp;On Prem 18.2.1.X<span class="branch"> Smoke/Sanity</span><span class="branch"></span> (5 / 122 untested)</h2>
                <br>
                <div class="progress">
                  <div class="progress-bar-1" role="progressbar" style="width:79%;"><strong>79%</strong>
                  </div>
                  <div class="progress-bar-2" role="progressbar" style="width:2%;"><strong>2%</strong>
                  </div>
                  <div class="progress-bar-3" role="progressbar" style="width:7%;"><strong>7%</strong>
                  </div>
                  <div class="progress-bar-4" role="progressbar" style="width:8%;"><strong>8%</strong>
                  </div>
                  <div class="progress-bar-5" role="progressbar" style="width:4%;"><strong>4%</strong>
                  </div>
                </div><br>
              </div><br>
            <!-- On Prem Smoke/Sanity END -->

            <!-- Begin PI 3 -->
            <div class="border border-dark rounded">
              <h2>&ensp;On Prem 18.2.1.28+ Regression (14 / 529 untested)</h2>
              <br>
              <div class="progress">
                <div class="progress-bar-1" role="progressbar" style="width:91%;"><strong>91%</strong>
                </div>
                <div class="progress-bar-2" role="progressbar" style="width:2%;"><strong>2%</strong>
                </div>
                <div class="progress-bar-3" role="progressbar" style="width:6%;"><strong>6%</strong>
                </div>
                <div class="progress-bar-5" role="progressbar" style="width:3%;"><strong>3%</strong>
                </div>
              </div><br>
            </div>
          </div>
            <!-- End PI 3 -->

        <!-- Begin JIRA Ticket table -->
         <div class="carousel-item">
          <h2>On Prem 18.2 JIRA tickets</h2>
          <p></p>
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Priority</th>
                <th>Type</th>
                <th>Key</th>
                <th>Summary</th>
                <th>Assignee</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <td style="color: red;">HIGH</td>
                <td>Bug</td>
                <td>PI-10666</td>
                <td>(CPA:Toshiba) Can't sign into CPA using badge</td>
                <td>Kimball Willard</td>
                <td style="color: RED; background: yellow;">TODO</td>
              </tr>
              <tr>
               <td style="color: red;">HIGH</td>
               <td>Bug</td>
               <td>PI-10283</td>
               <td>CPA (All Toshiba, SSO) Stuck on login screen after loggin in...</td>
               <td>Kimball Willard</td>
               <td style="color: RED; background: yellow;">TODO</td>
             </tr>
             <tr>
              <td style="color: red;">HIGH</td>
              <td>Bug</td>
              <td>PI-10686</td>
              <td>CPA (All Toshiba, SSO) Scanning a registered badge logs user in...</td>
              <td>Kimball Willard</td>
              <td style="color: RED; background: yellow;">IN PROGRESS</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- End JIRA Ticket table     -->

            <!-- BEGIN JOKE OF THE DAY -->
                    <div class="carousel-item">
                      <h1 class="text-center">Funny of the Day!</h1><br>
                      <%= link_to image_tag("jod.jpg", class: "mx-auto d-block") %>
                    </div>


            <!-- END JOKE OF THE DAY -->
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
              </body>
            </html>
