/* Show it is fixed to the top */

body {
  background-color: #3255A1;
  min-height: auto;
  padding-top: 4.5rem;
}

.navbar-custom {
  background-color: #3255a1;
}

.branch {
  color: red;
}

/* PASSED */

.progress-bar-1 {
  background-color: #95d96d;
  text-align: center;
}

/* BLOCKED */

.progress-bar-2 {
  background-color: #8080ff;
  text-align: center;
  color: white;
}

/* FAILED */

.progress-bar-3 {
  background-color: #F1888f;
  text-align: center;
}

/* RETEST */

.progress-bar-4 {
  background-color: #FFFA38;
  text-align: center;
  color: black;
}

/* UNTESTED */

.progress-bar-5 {
  background-color: #707070;
  text-align: center;
  color: white;
}